<p id="notice"><%= notice %></p>

<%= form_tag("/users", method: "get") do %>

  <%= link_to "Refresh Table", :id => 'refresh_button', :action => :refresh_table, remote: true %>

<% end %>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Agent</th>
      <th>Counter</th>
      <th>Created_At</th>
      <th>Updated_At</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <div >
    <div id="users_table">
      <%= render partial: 'users_list' %>
    </div>
  </div>
</table>

<br>

<%= link_to 'New User', new_user_path %>
