<p id="notice"><%= notice %></p>

<p>
  <strong>Agent:</strong>
  <%= @user.agent %>
</p>

<p>
  <strong>Counter:</strong>
  <%= @user.counter %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
